@page{
	width: 210mm;
	height: 297mm;
	margin:1.5mm 5mm 1.5mm 5mm;
}
body{
	font-family: monospace;
	font-size: 48pt;
	font-weight: bold;
	line-height: 1.25;
}
#footer, #header{
	font-size: 16pt;
	line-height: 1.25;
}
